.sitesearch-resultwrapper {
	position: absolute;
	display: none;
}
.sitesearch-resultwrapper.show {
	display: block;
}
.sitesearch-result {
	position: absolute;
	border: 1px solid #999;
	border-radius: 2px;
	background-color: #fff;
	padding: 0;
}
.sitesearch-result ul {
	margin: 0;
	padding: 0;
}
.sitesearch-result li {
	list-style-type: none;
	margin: 0;
	padding: 0.2em;
	white-space: nowrap;
}
.sitesearch-result li.selected {
	background-color: #3366AA;
	color: #fff;
}
.sitesearch-result li:hover {
	text-decoration: underline;
}
.sitesearch-form input {
	width: 8em;
}